header {
    display: block;
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
}
#headerButtons {
    list-style-type: none;
    margin: 5em;
    padding: 5em;
}
.navButton {
    float: right;
}
footer {
    display: block;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
}

.navLink {
    float: right;
}

/* Experience Grid  */
.card-container {
    border: black;
}
.grid-row {
    margin: 5em;
}

